<!DOCTYPE html>
<html>
<head>
    <title>Nehal's Nexus</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-dark bg-dark px-4">

    <span class="navbar-brand">Nehal's Nexus</span>

    <a href="/" class="text-white me-3">Home</a>
    <a href="/contact/" class="text-white me-3">Contact</a>

    <div class="ms-auto">
        {% if request.user.is_authenticated %}
            <span class="text-white me-3">
                Hi {{ request.user.username }}
            </span>
            <a href="/logout/" class="text-white">Logout</a>
        {% else %}
            <a href="/login/" class="text-white">Login</a>
        {% endif %}
    </div>

</nav>

<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>